html {
  background: #1e1739;
}
.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  min-height: 100vh;
  width: 100%;
}


// =========== ASIDE SECTION

.aside {
  background: darken(#1e1739, 2%);
  padding: 50px 40px;
  display: grid;
  grid-template-rows: 47px 1fr auto;
}

.logo {
  font-family: 'Montserrat', sans-serif;

  &__title {
    color: #bf0785;
    display: block;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1px;
    text-transform: uppercase;
  }
  
  &__subtitle {
    color: #fff;
    font-size: 17.5px;
    letter-spacing: -.5px;
  }
}

.button {
  border: none;
  outline: 0;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: background .8s ease-in-out
}

.header__button {
  background: #bf0785;
  color: #fff;
  font-size: 18px;
  line-height: 0;
  padding: 18px 0px 20px;
  width: 100%;

  &:hover,
  &:focus {
    background: darken(#bf0785, 5%);
    cursor: pointer;
  }
}

// =========== MAIN SECTION

.main {
  padding: 50px 7%;
  display: grid;
}

.input {
  width: 100%;
  border: none;
  outline: 0;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.search {
  &__input {
    font-size: 18px;
    padding: 9px 25px;
    background: darken(#1e1739, 2%);
    color: #fff;
    line-height: 0;
    border: 1px solid transparent;
    transition: border .8s ease-in-out;

    &:hover {
      border: 1px solid #fff
    }
  }
}